<% unless @departures.empty? %>
  <% @departures.each do |departure| %>
    <p>
      <%= departure.transport_mode %> <strong><%= departure.line_number %></strong>
      <%= departure.group_of_line ? "(#{departure.group_of_line})" : '' %>
      towards <%= departure.destination %> departs in
      <%= time_ago_in_words(departure.expected_date_time) %>
    </p>
  <% end %>
<% else %>
  <p>No departures found!</p>
<% end %>
